@font-face {
    font-family: 'Jost';
    src: url('Jost-BlackItalic.eot');
    src: url('Jost-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Jost-BlackItalic.woff2') format('woff2'),
        url('Jost-BlackItalic.woff') format('woff'),
        url('Jost-BlackItalic.ttf') format('truetype'),
        url('Jost-BlackItalic.svg#Jost-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('Jost-Bold.eot');
    src: url('Jost-Bold.eot?#iefix') format('embedded-opentype'),
        url('Jost-Bold.woff2') format('woff2'),
        url('Jost-Bold.woff') format('woff'),
        url('Jost-Bold.ttf') format('truetype'),
        url('Jost-Bold.svg#Jost-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('Jost-Black.eot');
    src: url('Jost-Black.eot?#iefix') format('embedded-opentype'),
        url('Jost-Black.woff2') format('woff2'),
        url('Jost-Black.woff') format('woff'),
        url('Jost-Black.ttf') format('truetype'),
        url('Jost-Black.svg#Jost-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

